<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    table, th, td {border: 1px solid black; border-collapse: collapse;}
    th, td {padding: 2px 5px;}
    input {margin-bottom: 5px;}
    h3 {margin: 8px 0px;}
  </style>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rectangles</title>
</head>
<body>
  <h3>Add Rectangle Form</h3>
  <form action="#" method="post" th:action="@{/rectangle}" th:object="${rectangle}">
      <input type="text" th:field=*{name} placeholder="Name"> <br>
      <input type="number" th:field=*{width}> <br>
      <input type="number" th:field=*{height}> <br>
      <input type="text" th:field=*{color} placeholder="Color"> <br>
      <input type="submit" value="Add Rectangle">
  </form>
  
  <br>

  <h3>Delete Rectangle By ID</h3>
  <form action="#" method="post" th:action="@{/deleteRectangle}" th:object=${deleteRect}>
    <input type="text" th:field=*{id}> <br>
    <input type="submit" value="Delete Rectangle">
  </form>

  <br>

  <h3>Rectangles</h3>
  <table >
      <tr>
          <th>id</th>
          <th>name</th>
          <th>color</th>
      </tr>
      <tr th:each="rect : ${rectangleDB}">
        <td th:text="${rect.getId()}"/></td>
        <td><a th:href="'/readRectangle/' + ${rect.getId()}" th:text="${rect.getName()}"/></td>
        <td th:text="${rect.getColor()}"/></td>
      </tr>
    </table>
</body>
</html>