<!DOCTYPE html>
<html lang="en">
<head>
  <style th:inline="css">
    table, th, td {border: 1px solid black; border-collapse: collapse;}
    th, td {padding: 2px 5px;}
  </style>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rectangles</title>
</head>
<body>
  <!-- Note: didn't vertically center text or resize text if rectangle too small -->
  <div th:style="'width:' + @{${rect.getWidth()}} + 'px;
                height:' + @{${rect.getHeight()}} + 'px;
                background:' + @{${rect.getColor()}} + ';
                border-style:none;
                text-align: center;
                font-weight: bold;
                font-size: 20px;'">
  <span th:text="${rect.getName()}"></span>
  </div>
  
  <br>

  <table>
    <tr>
      <td>ID</td>
      <td th:text="${rect.getId()}"/></td>
    </tr>
    <tr>
        <td>Name</td>
        <td th:text="${rect.getName()}"/></td>
    </tr>
    <tr>
      <td>Width</td>
      <td th:text="${rect.getWidth()}"/></td>
    </tr>
    <tr>
      <td>Height</td>
      <td th:text="${rect.getHeight()}"/></td>
    </tr>
    <tr>
      <td>Color</td>
      <td th:text="${rect.getColor()}"/></td>
    </tr>
  </table>
  <br>
    <a href="/">Return to Index</a>
</body>
</html>